
.pesan {
    padding-left: 42%;
    margin-top: 13%;
}

.pesan img {
    width: 150px;
padding-left: 5%;
    margin-left: 0px;
}

.pesan h1 {
    padding-left: 5;
}
.container form{
    margin-left: 45%;
    margin-top: 0%;
    
}

.input {
    position: absolute;
}

.btn1 {
    background-color: #5073fb;
    color: white;
    border-radius: 10px;
    border-color: #5073fb;
    border-width: 10px;
    margin-left: 4px;

}

.container a{
    margin-top: 0;
}

.footer  {
    text-align: right;
    color:#5073fb;
    padding-right: 30px;
    padding-top: 85px;
}

.header {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #f1f1f1;
}

.logo {
    display: flex;
    align-items: center;
    width: 300px;
    padding-left: 40px;
}

.logo span {
    color: #5073fb;
}

.icon-0 {
    color: #5073fb;
}

